@use "../1-helpers" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}
body,
ul {
  margin: 0;
  padding: 0;
  color: $text-01;
}

body {
  font-family: var(--main-font);
  color: $text-02;
}
ul {
  list-style: none;
}

a {
  color: $text-01;
}
