@use "../1-helpers" as *;
@use "../2-base" as *;

.nav {
  background-color: $nav-light-bg;
  position: fixed;
  width: 100%;
  z-index: 100;

  &__list {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 21.5px 70px;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    align-self: center;
  }
  &__item {
    align-self: center;
  }
  &__text {
    margin-right: 20px;
    color: $text-02;
  }
  &__search {
    position: relative;
  }

  &__searchbox {
    width: 300px;
    height: 37px;
    border: none;
    border-radius: 10px;
    padding: 0px 60px 0px 32px;
    background-color: $search-bar;
  }
  &__notification {
    display: none;
    font-size: 12px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 100%;
    right: 3px;
    top: -17px;
    color: black;
    box-shadow: 0 2px 25px 0px #000;
  }
  .fa-magnifying-glass {
    position: absolute;
    left: 0;
    color: black;
    margin-top: 10px;
    margin-left: 9px;
  }
  .fa-basket-shopping {
    position: absolute;
    right: 0;
    color: black;
    padding-left: 23px;
    border-left: 2px solid black;
    margin-top: 10px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1023px) {
  .nav {
    display: block;
    background-color: $red;
    height: 105vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 600ms ease-in-out;

    &.slide-in {
      transform: translateX(0%);
      transition: transform 600ms ease-in-out;
    }

    &__list {
      display: block;
      box-shadow: none;
      padding: 0;
    }
    &__logo {
      display: none;
      align-self: center;
    }
    &__item {
      align-self: center;
      position: absolute;
      top: 135px;
      left: 35px;
    }
    &__text {
      display: block;
      margin-bottom: 25px;
      color: $text-02;
    }
    &__search {
      display: none;
    }

    &__searchbox {
      display: none;
    }
    &__notification {
      display: none;
    }
    .fa-magnifying-glass {
      display: none;
    }
    .fa-basket-shopping {
      display: none;
    }
    &__menu {
      z-index: 9999;
      position: fixed;
      visibility: visible;
      top: 32px;
      left: 90%;

      &.open {
        span:first-child {
          transform: rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:last-child {
          transform: rotate(-45deg);
        }
      }
      span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $text-02;
        transform-origin: 4px 1px;
        transition: all 300ms ease-in-out;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
