/* 
**********************
BODY ⤵
**********************
*/

$background-light: #fff;
$background-dark: hsl(0, 0%, 7%);
$background-color: hsla(0, 0%, 20%, 1);
$text-01: #fff;
$text-02: #000;
$borderline: #fff;
$red: hsl(0, 84%, 64%);
$blue: hsl(210, 32%, 28%);
$black: hsl(0, 0%, 7%);

/* 
**********************
NAVBAR ⤵
**********************
*/
$nav-bg: hsl(0, 0%, 39%);
$nav-light-bg: #ffffff;
$nav-dark-bg: hsl(0, 0%, 7%);
$search-bar: hsl(0, 0%, 86%);

/* 
**********************
BUTTON ⤵
**********************
*/

$button-solid: hsl(210, 32%, 28%);
$button-stroke: #ffffff;
$button-gradient: linear-gradient(90deg, #f72585 3.65%, #4cc9f0 100.01%);
